# Environments & Caches
.venv/
.venv-1/
__pycache__/
*.pyc

debug.py

# Model Checkpoints
*.pth

# Large Data (Ignore all folders and CSVs under data/, but keep Markdown files)
data/*
!data/**/*.md

# Models
models/